Django==1.6.5
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==1.6
South==1.0
Sphinx==1.2.2
dj-database-url==0.2.2
dj-static==0.0.5
django-braces==1.4.0
django-nose==1.2
docutils==0.12
gunicorn==18.0
mock==1.0.1
model-mommy==1.2.1
nose==1.3.3
psycopg2==2.5.1
six==1.3.0
static==0.4
wsgiref==0.1.2
