{% extends "wopa_submitter/base.html" %}

{% block content %}
   {% if created %}
      <h1>Thanks for creating/updating assignment</h1>
    {% else %}
         <h1>Create Assignment </h1>
        <form id="user_form" method="post" action="{{redirectPage}}"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ assignment_form.as_p }}
            {{ assignment_document_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Submit" />
        </form>
   {% endif %}
{% endblock %}