{% extends "base.html" %}


{% block content %}
    <table id="example" class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th>
                Assignment
            </th>
            <th>
                Submission status
            </th>
            <th>
                Submissions
            </th>
            <th>
                Feedback
            </th>
            <th>
                Submit Assignment
            </th>

        </tr>
        </thead>
        <tbody>
        {% for assignment in assignments %}
            <tr>
                <td>
                    <a href="{{ assignment }}"><i class="glyphicon glyphicon-envelope"></i>
                        {{ assignment.name }}</a>
                </td>
                <td>
                    {% if assignment.submitted %}
                          <p class="label label-success">Yes</p>
                    {% endif %}
                    <p class="label label-danger">No</p>

                </td>
                <td>
                    <a href="{{ MEDIA_URL }}{{ assignment.file }}">Here</a>

                </td>
                <td>
                     {% if assignment.feedback %}
                         <a href="#">View FeeBack</a>
                    {% endif %}
                    <p>No feedback given</p>
                </td>
                <td>
                    <button class="btn btn-sm btn-primary">SUBMIT</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}