{% extends 'wopasite/auth/base.html' %}
{% block content %}

<div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                        </div>  
                        <div class="panel-body" >

                            <form id="user_form" method="post"  class="form-horizontal" role="form" action="/website/register/">
                                {% csrf_token %}
                                
                                {% if user_errors or invitation_code_error %}
                                <div id="signupalert"  class="alert alert-danger">
                                    <p>Error:</p>
                                      {% if user_errors %}
                                    {% for field in user_form %}
                                    <div class="fieldWrapper">
                                        {% if field.errors %}
                                           {{ field.label_tag }}: {{ field.errors }}
                                            
                                         {% else %}  
                                
                                         {% endif %}
                                    </div>
                                    {% endfor %}
                                    {% else %}  
                                    {% endif %}
                                    {% if invitation_code_error %}
                                       <div class="fieldWrapper">
                                        <label >Invitation code</label>: <ul class="errorlist"><li>Wrong invitation code.</li></ul>

                                     </div>
                                    {% else %}  
                                    {% endif %}
                                    <span></span>
                                </div>
                                {% else %}  
                                
                                 {% endif %}
                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="email" placeholder="Email Address" id="id_email" value="{{user_form.email.value}}" required>
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="firstname" class="col-md-3 control-label">First Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="first_name" placeholder="First Name" value="{{user_form.first_name.value}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{user_form.last_name.value}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Username</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="username" placeholder="Username" id="id_username" value="{{user_form.username.value}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="password" placeholder="Password" id="id_password" value="{{user_form.password.value}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Invitation Code</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control"  placeholder="Code" id="id_code" name="code">
                                    </div>
                                </div>
                                

                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                        
                                    </div>
                                </div>
                                
                                
                                
                                
                            </form>
                         </div>
                    </div>
                   <script type="text/javascript">
    var form = document.getElementById("user_form");

        document.getElementById("btn-signup").addEventListener("click", function () {
                    form.submit();
            });
    </script>

{% endblock content %}